html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */

.container{
    max-width: 480px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.topnav{
    background-color: #333;
    position: relative;
}

.topnav #menu{
    display: none;
}

.topnav a{
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a:hover{
    background-color: #f2f2f2;
}

.topnav a.icon{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
}

.active{
    background-color: #4CAF50;
}